.container {
  height: 100vh;
  width: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.img {
  height: 50vh;
  width: 50vw;
  background-size: cover;
  align-items: center;
}
.head {
  font-size: 25px;
  text-align: center;
}
.about {
  font-size: 20px;
  text-align: center;
}
